form>div,
fieldset {
    margin-bottom: 10px;
}

textarea {
    vertical-align: text-top;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.cadastro {
    width: 500px;
    margin: 0 auto;
}